#map{ 
    width: 800px;
    height: 450px;
    margin: auto;
    margin-top: 300px;
    margin-left: 200px;
}
html,
body {
    width: 100%;
}
#canvas{
   position: absolute;
}/*
.ymaps-2-1-79-places-pane {
    width: 100%;
    height: 100%;
        
}*/